version: '3.7'

services:
  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: always
    ports:
      - "8883:8883"
      - "9091:9091"
    volumes:
      - ./containers/mosquitto/config:/mosquitto/config
      - ./containers/mosquitto/data:/mosquitto/data
      - ./containers/mosquitto/log:/mosquitto/log
      - ./containers/certificates:/mosquitto/config/certs:ro
      - /etc/localtime:/etc/localtime:ro
    user: "1000:1000"
  motioneye:
    # motionEye configuration
  bt-mqtt-gateway:
    # bt-mqtt-gateway configuration
